*{
	box-sizing: border-box;
}

/* DESKTOP STYLE */
	/* BODY STYLE */
		body {
			background: rgba(16, 16, 16, 1);
			font-family: 'Ubuntu', sans-serif;
			padding: 10px;
			margin: 0px;
			background-image: url("http://i.imgur.com/rgXlmkc.png");
			background-size: 256px;
		}
.install {
	background-color: rgba(50, 175, 125, 0.2);
}
.nff {
	display: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome, if Chrome rule needed */
    .nff {
	display: block;
	}
	.ff {
	display: none;
	}

    /* Safari 5+ ONLY */
    ::i-block-chrome, .nff {
	display: none;
	}
	::i-block-chrome, .ff {
	display: block;
	}
	/* safari 2-3 */
	html[xmlns*=""] body:last-child .ff {
	display: block;
	}
	html[xmlns*=""]:root .ff {
	display: block;
	}
	html[xmlns*=""] body:last-child .nff {
	display: none;
	}
	html[xmlns*=""]:root .nff {
	display: none;
	}
	/* safari 3.1 */
	*|html[xmlns*=""] .nff {
	display: none;
	}
	*|html[xmlns*=""] .ff {
	display: block;
	}
}

.featureshead {
	display: block;
	font-weight: 600;
	text-align: center;
}
.featureslist {
	display: block;
	text-align: center;
}


	/* CONTENT STYLE */
		main {
			background: rgba(0, 0, 0, .5);
			color: rgba(218, 218, 218, 1);
			font-family: 'Ubuntu', sans-serif;
			padding: 0px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: auto;
			padding: 15px;
			max-width: 1000px;
		}
		nav{
			background: rgb(57, 44, 62) !important;
		}
		.navigate{
			max-width: 1000px;
		}
		.tabbutton {
			background-color: rgba(128, 128, 128, .75) !important;
		}
		#logo {
			vertical-align: middle;
			max-width: 165px;
			height: 30px;
		}
	/* INSTALL BUTTON STYLE */
		#ScriptButton {
			background-color: rgba(255, 140, 0, 0.2);
			border-radius: 25px;
			border: 5px double rgba(255, 165, 0, 1);
			padding: 10px;
			display: block;
			color: rgba(255, 255, 255, 1);
			font-weight: 900;
			text-decoration: none;
			text-align: center;
		}
		#ScriptButton:hover {
			background-color: rgba(255, 215, 0, 0.5);
			border-radius: 25px;
			padding: 10px;
		}

	.game{
		color: rgba(199, 203, 110, 0.9) !important;
		background-color: rgba(255, 255, 0, .1);
	}
	.game:hover {

		background-color: rgba(240, 240, 66, 0.35) !important;	
	}
	/* TEMPORARY FIX */
		#information {
			padding-top: 35px;
		}
					/* gothic dude speaking head */
					iframe.gothic {
						right: -100px;
						bottom: 0px;
						position: fixed;
						z-index: 20;
					}
/* To make a cool CSS button for chrome inline installation */
.inline[installed='0']:hover{
	border: 1px solid #4076ff;
	background-color: #5c92ff;
	background-image: linear-gradient(to bottom,#669eff,#5286ff);
}
.inline[installed='0'],.inline[installed='1']{
	border: 1px solid #2d53af;
	background-color: #4d7bd6;
	background-image: linear-gradient(to bottom,#5689db,#4d7bd6);
}
.inline[installed='2']{
	pointer-events: none;
	border: 1px solid #488500;
	background-color: #5fb000;
	background-image: linear-gradient(to bottom,#71bf00,#4da100);
}
.inline{
	transform-origin: 0 0;
	padding: 6px 20px;
	height: 40px;
	border-radius: 2px;
	cursor: pointer;
	line-height: 28px;
	box-shadow: 0 2px 0 0 rgba(255,255,255,.06) inset,0 2px 3px 0 rgba(0,0,0,.2);
	outline: 0;
}
.inlinec{
	font-family: 'Open Sans',arial,sans-serif;
	margin: auto;
	font-size: 14px;
	display: block;
	line-height: 28px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
}
.inlinec font{
	font-size: 20px;
}
.inline[installed='1'] span,.inline[installed='2'] span{
	display: none;
}
.inline[installed='1'] .inlinee::after{
	content: "Adding...";
}
.inline[installed='2'] .inlinee::after{
	content: "Added To Chrome";
}
.inline[installed='0'] .inlinee::after{
	content: "Add To Chrome"
}
.inlinee{
	display: inline-block;
	vertical-align: top;
}
